@media (min-width:0px) and (max-width:767px) {

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width:768px;
  }

  body {
    background-color: #F8F8F8;
  }

  .header-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF;
  }

  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
  }


  .header__icon {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
  }

  .header__icon-burger {
    width: 40px;
    height: 40px;
    background: url(../images/icon/burger.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
  }

  .header__icon-key {
    width: 40px;
    height: 40px;
    background: url(../images/icon/key.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
  }

  .header__icon-search {
    width: 40px;
    height: 40px;
    background: url(../images/icon/search.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-left: 16px;
  }



  .header__logo {
    margin-right: auto;
  }


  .header__icon-phone {
    display: none;
  }

  .header__icon-message {
    display: none;
  }

  .header__icon-contact {
    display: none;
  }

  .header__decor {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-right: 16px;
  }

  .header__decor:nth-child(2) {
    display: none;
  }

  .main-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .title {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .title__decor {
    position: absolute;
    left: 0;
    top: -2px;
    background: url(../images/icon/highlight.svg);
    height: 40px;
    width: 4px;
  }



  .title__button--size--desctop {
    display: none;
  }

  .title__content {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-left: 16px;
    color: #1B1C21;
  }

  .navbar {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    box-sizing: border-box;
    height: 40px;
    align-items: center;
    position: relative;
    padding-right: 0;
    margin-right: -16px;
  }

  .navbar::before {
    content: '';
    display: block;
    position: fixed;
    height: 81px;
    width: 24px;
    right:0px;
    z-index: 2;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }
  .navbar::-moz-scrollbar {
    display: none;
  }
  .navbar::-ms-scrollbar {
    display: none;
  }
  .navbar::-o-scrollbar {
    display: none;
  }

  .navbar-block {
    padding: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-left: 2px;
  }

  .navbar-block:focus {
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
  }

  .navbar-block__text {
    color: #7E7E82;
    font-family: 'TT Lakes';
    font-style: medium;
  }

  .company {
    margin-top: 24px;
  }

  .company__desc {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
  }

 .company__text {
  width: 100%;
  max-height: 90px;
  overflow: hidden;
 }


  .read-me {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 24px;
    align-items: center;
    color: #1B1C21; 
    font-family: 'TT Lakes';
    font-weight: 500; 
  }

  .read-me__icon {
    background: url(../images/icon/expand.svg) no-repeat 50% 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .read-me__button {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
  }


  .company__image {
    width: 100%;
  }

  .company__image--size--desctop {
    display: none;
  }
}

@media (min-width:767px) and (max-width:1119px){
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width:1120px;
  }
  body {
    background-color: #F8F8F8;
  }

  .header-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF;
  }

  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
  }


  .header__icon-burger {
    width: 40px;
    height: 40px;
    background: url(../images/icon/burger.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
  }

  .header__icon-phone {
    width: 40px;
    height: 40px;
    background: url(../images/icon/phone.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
  }

  .header__icon-message {
    width: 40px;
    height: 40px;
    background: url(../images/icon/message.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
  }
  .header__icon-contact {
    width: 40px;
    height: 40px;
    background: url(../images/icon/contact.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .header__icon-key {
    width: 40px;
    height: 40px;
    background: url(../images/icon/key.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
  }

  .header__icon-search {
    width: 40px;
    height: 40px;
    background: url(../images/icon/search.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-left: 16px;
  }



  .header__logo {
    margin-right: auto;
  }

  .header__decor {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
    margin-left: 4px;
  }

  .main-wrapper {
    padding-left: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .title {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .title__decor {
    position: absolute;
    left: 0;
    top: -2px;
    background: url(../images/icon/highlight.svg);
    height: 40px;
    width: 4px;
  }

  .title__button--size--desctop {
    display: none;
  }
  .company__image--size--mob {
    display: none;
  }

  .title__content {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-left: 20px;
    color: #1B1C21;
  }

  .navbar {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    box-sizing: border-box;
    height: 40px;
    align-items: center;
    position: relative;
    margin-right: -34px;
  }

  .navbar::before {
    content: '';
    display: block;
    position: fixed;
    height: 81px;
    width: 24px;
    right:0;
    z-index: 2;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }


  .navbar::-webkit-scrollbar {
    display: none;
  }
  .navbar::-moz-scrollbar {
    display: none;
  }
  .navbar::-ms-scrollbar {
    display: none;
  }
  .navbar::-o-scrollbar {
    display: none;
  }

  .navbar-block {
    padding: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-left: 2px;
  }

  .navbar-block:focus {
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
  }

  .navbar-block__text {
    color: #7E7E82;
    font-family: 'TT Lakes';
    font-style: medium;
  }

  .company {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .company__desc {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    /* position: relative; */
  }

  .company__text {
    width: 100%;
    max-height: 140px;
    overflow: hidden;
    min-height: 140px;
   }


   .read-me {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 24px;
    align-items: center;
    color: #1B1C21; 
    font-family: 'TT Lakes';
    font-weight: 500; 
  }

  .read-me__icon {
    background: url(../images/icon/expand.svg) no-repeat 50% 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .read-me__button {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
  }

  .company__image--size--desctop {
    width: 50%;
    display: block;
    position: absolute;
    right: -16px;
    top: 0;
  }

  .company__image--size--mobile {
    display: none;
  }
}

@media (min-width:1120px){
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width:1440px;
  }

  body {  
    background-color: #F8F8F8;
  }

  .header-wrapper {
    padding-left: 24px;
    padding-right: 40px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF;
  }

  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    display: none;
  }

  .header__icon-key {
    width: 40px;
    height: 40px;
    background: url(../images/icon/key.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-left: 16px;
  }

  .header__icon-search {
    width: 40px;
    height: 40px;
    background: url(../images/icon/search.svg) no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-left: 16px;
  }

  .header__logo {
    margin-right: 250px;
  }

  .header__decor {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }

  .main-wrapper {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    margin-top: 8px;
  }

  .title {
    margin-top: 42px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .title__decor {
    position: absolute;
    left: 0;
    top: -2px;
    background: url(../images/icon/highlight.svg);
    height: 40px;
    width: 4px;
  }

  .title__button--size--desctop {
    display: flex;
    align-items: center;
    color: #1B1C21;
    font-family: 'TT Lakes';
    font-weight: 500;
  }

  .title__button--size--desctop:nth-child(3) {
    margin-left: auto;
  }
  .title__button--size--desctop:nth-child(1) {
    margin-right: 32px;
  }

  .header__icon {
    margin-left: 8px;
  }

  .title__content {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-left: 20px;
    color: #1B1C21;
    line-height: 40px;
  }


  .navbar {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 2px;
  }
  
  .navbar-block {
    padding: 12px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-left: 2px;
    margin-top: 2px;
  }
   
    .navbar-block:focus {
      outline: 2px solid #B8FFEC;
      border-radius: 6px;
      background-color: #FFFFFF;
    }
    
    .navbar-block__text {
      color: #7E7E82;
      font-family: 'TT Lakes';
      font-weight: 500;
  }

  .company {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .company__desc {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    padding-top: 9.22px;
  }

  .read-me {
    display: flex;
    margin-top: 10px;
    margin-bottom: 16px;
    height: 24px;
    align-items: center;
    font-family: 'TT Lakes';
    font-weight: 500;
    color: #1B1C21;
  }

  .read-me__text {
    margin-left: 8px;
    line-height: 24px;
  }

  .read-me__icon {
    background: url(../images/icon/expand.svg) no-repeat 50% 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .read-me__button {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
  }

  .company__image {
    height: 307px;
    border-radius: 6px;
    width: 50%;
    display: block;
    position: absolute;
    right: -16px;
    top: 0;
  }

  .company__image--size--mobile {
    display: none;
  }
}
