@media (min-width:0px) and (max-width:767px) {
  body {
    background-color: #F8F8F8;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width:768px;
  }
  
  .header-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF;
  }

  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
  }


  .header__icon {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
  }

  .header__icon:last-child {
    margin-left: 16px;
  }
  .header__icon:nth-child(1) {
    margin-right: 16px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__icon:nth-child(4) {
    display: none;
  }

  .header__icon:nth-child(5) {
    display: none;
  }

  .header__icon:nth-child(6) {
    display: none;
  }

  .header__decor {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-right: 16px;
  }

  .header__decor:nth-child(2) {
    display: none;
  }

  .main-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .title {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .title__button--size--desctop {
    display: none;
  }

  .title__content {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-left: 16px;
    color: #1B1C21;
  }

  .navbar {
    display: flex;
    overflow-x: scroll;
  }

  .navbar-block {
    height: 40px;
    width: 246px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
  }

  .navbar-block:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  .navbar-block:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  .navbar-block__text {
    color: #7E7E82;
    font-family: 'TT Lakes';
    font-style: medium;
  }

  .company {
    margin-top: 24px;
  }

  .company__desc {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
  }

 .company__text {
  width: 100%;
 }

 .company__dop-text {
  display: none;
 }

  .company__text--size--mid {
    display: none;
  }
  .company__text--size--desctop {
    display: none;  
  }

  .read-me {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 24px;
    align-items: center;
    font-family: 'TT Lakes';
    font-weight: 500;
    color: #1B1C21;
  }

  .read-me__text {
    margin-left: 8px;
  }

  .company__image {
    width: 100%;
  }

  .company__image--size--desctop {
    display: none;
  }
}

@media (min-width:767px) and (max-width:1120px){
  
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width:1120px;
  }
  
  body {
    background-color: #F8F8F8;
  }

  .header-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF;
  }

  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
  }

  .header__icon {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .header__icon:last-child {
    margin-right: 0;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__decor {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
    margin-left: 4px;
  }

  .main-wrapper {
    padding-left: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    margin-top: 24px;
  }

  .title {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .title__button--size--desctop {
    display: none;
  }
  .company__image--size--mob {
    display: none;
  }

  .title__content {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-left: 20px;
    color: #1B1C21;
  }

  .navbar {
    display: flex;
    overflow-x: scroll;
  }

  .navbar-block {
    height: 40px;
    width: 246px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
  }

  .navbar-block:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  .navbar-block:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
  }

  .navbar-block__text {
    color: #7E7E82;
    font-family: 'TT Lakes';
    font-style: medium;
  }

  .company {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .company__desc {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    /* position: relative; */
  }

  .company__text--size--mob {
    display: none;
  }

  .company__text--size--desctop {
    display: none;
  }

  .company__text {
    display: inline-block;
    width: 100%;
  }

  .read-me {
    display: flex;
    margin-top: 10px;
    margin-bottom: 16px;
    height: 24px;
    align-items: center;
    font-family: 'TT Lakes';
    font-weight: 500;
    color: #1B1C21;
  }

  .read-me__text {
    margin-left: 8px;
    line-height: 24px;
  }
  
  .dop-text__text--size--desctop {
    display: none;
  }


  .company__image--size--desctop {
    width: 50%;
    display: block;
    position: absolute;
    right: -16px;
    top: 0;
  }

  .company__image--size--mobile {
    display: none;
  }
}

@media (min-width:1120px){
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width:1440px;
  }

  body {  
    background-color: #F8F8F8;
  }

  .header-wrapper {
    padding-left: 24px;
    padding-right: 40px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF;
  }

  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    display: none;
  }

  .header__icon {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
  }

  .header__logo {
    margin-right: 250px;
  }

  .header__decor {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
  }

  .main-wrapper {
    padding-left: 32px;
    padding-right: 40px;
    padding-bottom: 24px;
    margin-top: 8px;
  }

  .title {
    margin-top: 42px;
    height: 40px;
    display: flex;
    align-items: center;
    /* margin-bottom: -16px; */
  }

  .title__button--size--desctop {
    display: flex;
    align-items: center;
    margin-right: 32px;
    color: #1B1C21;
    font-family: 'TT Lakes';
    font-weight: 500;
  }

  .title__button--size--desctop:nth-child(3) {
    margin-left: auto;
  }

  .header__icon {
    margin-left: 8px;
  }

  .title__content {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    margin-left: 20px;
    color: #1B1C21;
    line-height: 40px;
  }


.navbar {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    flex-wrap: wrap;
  }
  
  .navbar-block {
    
    height: 40px;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    line-height: 16px;
    font-size: 16px;
    padding: 16.2px;
  }
   
    .navbar-block:focus {
      border: 2px solid #B8FFEC;
      border-radius: 6px;
    }
    
    .navbar-block__text {
      color: #7E7E82;
      font-family: 'TT Lakes';
      font-weight: 500;
  }

  .company {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .company__desc {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    padding-top: 9.22px;
  }

  .company__text--size--mob {
    display: none;
  }

  .company__text--size--mid {
    display: none;
  }

  .read-me {
    display: flex;
    margin-top: 10px;
    margin-bottom: 16px;
    height: 24px;
    align-items: center;
    font-family: 'TT Lakes';
    font-weight: 500;
    color: #1B1C21;
  }

  .read-me__text {
    margin-left: 8px;
    line-height: 24px;
  }


  .dop-text__text--size--desctop {
    display: inline;
  }

  .company__image {
    height: 307px;
    border-radius: 6px;
    width: 50%;
    display: block;
    position: absolute;
    right: -16px;
    top: 0;
  }

  .company__image--size--mobile {
    display: none;
  }
}
